@use '../../../../assets/style/base.scss' as *;

.lay-header-bar {
  width: 100%;
  height: 48px;
  background: #fff;
  border-bottom: 1px solid $border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.lay-header-bar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  //兼容旧浏览器写法
  &>section:not(:last-child) {
    margin-right: 16px;
  }
}