@use './base.scss' as *;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  background: $page-background-color;
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 6px;
  /* 滚动条宽度 */
  height: 6px;
  /* 滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 轨道背景色 */
  border-radius: 10px;
  /* 圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #c0c4cc;
  /* 滑块背景色 */
  border-radius: 10px;
  /* 圆角 */

}

// 禁止滚动条(标签页一多就有滚动条)
body,
html {
  overflow: hidden;
}
