@use './base.scss' as *;

:root {
  /* -----基础颜色----- *
  /* 主题 */
  --color-primary-base: 64, 158, 255;
  --color-primary: rgba(var(--color-primary-base), 1); // #409EFF
  --color-primary-light-1: color-mix(in srgb, var(--color-primary) 90%, #fff 10%);
  --color-primary-light-2: color-mix(in srgb, var(--color-primary) 80%, #fff 20%);
  --color-primary-light-3: color-mix(in srgb, var(--color-primary) 70%, #fff 30%);
  --color-primary-light-4: color-mix(in srgb, var(--color-primary) 60%, #fff 40%);
  --color-primary-light-5: color-mix(in srgb, var(--color-primary) 50%, #fff 50%);
  --color-primary-light-6: color-mix(in srgb, var(--color-primary) 40%, #fff 60%);
  --color-primary-light-7: color-mix(in srgb, var(--color-primary) 30%, #fff 70%);
  --color-primary-light-8: color-mix(in srgb, var(--color-primary) 20%, #fff 80%);
  --color-primary-light-9: color-mix(in srgb, var(--color-primary) 10%, #fff 90%);
  --color-primary-dark-2: color-mix(in srgb, var(--color-primary) 10%, #000 90%);

  --el-color-primary: var(--color-primary);
  --el-color-primary-light-3: var(--color-primary-light-3);
  --el-color-primary-light-5: var(--color-primary-light-5);
  --el-color-primary-light-7: var(--color-primary-light-7);
  --el-color-primary-light-8: var(--color-primary-light-8);
  --el-color-primary-light-9: var(--color-primary-light-9);
  --el-color-primary-dark-2: var(--color-primary-dark-2);

  /* 成功 */
  --color-success: #67c23a;
  /* 警告 */
  --color-warning: #e6a23c;
  /* 危险 */
  --color-danger: #f56c6c;
  /* 信息 */
  --color-info: #909399;

  /*-----文本颜色-----*/

  /*主要文字 */
  --color-text-primary: #303133;
  /* 常规文字 */
  --color-text-regular: #606266;
  /* 次要文字 */
  --color-text-secondary: #909399;
  /* 占位文字 */
  --color-text-placeholder: #c0c4cc;

  /*-----边框颜色----- */

  /* 一级边框 */
  --border-color-base: #dcdfe6;
  /* 二级边框 */
  --border-color-light: #e4e7ed;
  /* 三级边框 */
  --border-color-lighter: #ebeef5;
  /* 四级边框 */
  --border-color-extra-light: #f2f6fc;

  /*-----字体大小-----*/

  /* 主标题 */
  --font-size-extra-large: 20px;
  /* 标题 */
  --font-size-large: 18px;
  /* 小标题 */
  --font-size-medium: 16px;
  /* 正文 */
  --font-size-base: 14px;
  /* 辅助文字 */
  --font-size-small: 12px;
}