@use '../../assets/style/base.scss' as *;

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $page-background-color;
  text-align: center;
  height: 100%;
}

.title {
  font-size: 120px;
  font-weight: bold;
  color: var(--el-color-primary);
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--el-color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #66b1ff;
}
