@use '../../../../assets/style/base.scss' as *;
$top-and-bottom-blocks-height: 40px;
$height: 100vh;

.lay-menu {
  position: relative;
  user-select: none;
}

/**
 * 顶部标题栏
 */

.menu-title {
  width: $menu-width;
  height: $top-and-bottom-blocks-height;
  border-right: 1px solid $border;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #303133;
  transition: width 0.12s ease-in-out;


  .logo {
    width: 32px;
    margin-left: 18px;
  }

  .system-name {
    margin-left: 10px;
    color: #000000d9;
    font-weight: bold;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}



/**
 * 侧边栏菜单
 */

.el-menu-vertical {
  height: calc($height - #{2 * $top-and-bottom-blocks-height });
  overflow: hidden;
  overflow-y: auto;

  .menu-icon {
    width: 16px;
    margin-left: 2px;
    margin-right: 10px;
  }

}


/**
 * 侧边栏收缩图标
 */
.collapse-icon {
  width: $menu-width;
  height: $top-and-bottom-blocks-height;
  border-top: 1px solid $border;
  border-right: 1px solid $border;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  transition-property: width;
  transition-duration: 0.12s;
  transition-timing-function: ease-in-out;
  background: #fff;
}

/* 全局样式修改 */
:global {
  .el-menu--vertical {
    .el-menu-item.is-active {
      background-color: rgba(var(--color-primary-base), 0.08);
      color: var(--color-primary);
      font-weight: 500;
      box-shadow: inset 0 0 0 1px rgba(var(--color-primary-base), 0.1);
    }
  }

  .horizontal-collapse-transition {
    /* 横向折叠（宽度）过渡 */
    transition: width 0.1s ease-in-out !important;
  }
}