.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &-left {
    width: 100%;
    height: 100%;
    display: flex;

  }

  &-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}