.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &-left {
    width: 100%;
    height: 100%;
    display: flex;

  }

  &-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

// 路由视图容器
.router-view-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  :global(> *) {
    /* PC 端可以将时间稍微缩短到 0.35s 或 0.4s，感觉更响应及时 */
    animation: modernFloatIn 0.4s cubic-bezier(0.2, 0.8, 0.2, 1) both;

    /* PC 端其实可以省略 -webkit- 前缀，除非你要兼容极老的浏览器 */
    /* 保持这个属性可以防止文字在动画结束瞬间抖动 */
    backface-visibility: hidden;

  }
}

@keyframes modernFloatIn {
  0% {
    opacity: 0;
    /* PC 上 10px 的位移很优雅，0.99 缩放保持清晰 */
    transform: translate3d(0, 10px, 0) scale(0.99);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}